body {
    margin: 0;
    padding: 0;
    font-family: 'Handlee', cursive;
}
.nav {
  width: 20%;
  min-width: 270px;
  height: 1500px;
  background-color: #333333;
  position: fixed;
  float: left;
  left: -420px;
  z-index: 9;
}
.navbar-toggler {
  width: 35px;
  height: 25px;
  float: left;
  margin: 30px 30px;
  position: absolute;
  cursor: pointer;
  z-index: 9;
}
.line_nav {
  height: 3px;
  width: 100%;
  background: #333333;
  float: left;
  margin-bottom: 8px;
}
.navbar-close {
  width: 35px;
  position: relative;
  display: block;
  margin: 38px 28px 38px 28px;
  cursor: pointer;
}
.line_close {
  background: white;
  width: 100%;
  height: 3px;
  position: absolute;
}
.line_close_one {
  moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.line_close_two {
  moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav_list {
  list-style: none;
  line-height: 0;
  line-height: 80px;
  font-size: 24px;
  float: left;
  color: #F3F3F3;
  display: block;
  margin-top: 70px;
}
.nav_list a {
  display: block;
  color: #F3F3F3;
  text-decoration: none;
}
.nav_list img {
  width: 25px;
  height: 25px;
  margin: 0 10px -4px 0;
}
.main {
  width: 100%;
  height: 670px;
  background-image: url('../images/bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
}
.arrowDown {
  top: 90%;
  cursor: pointer;
  position: absolute;
  margin: 0 -43px 0 -43px;
}
.look_line {
  background: white;
  width: 50px;
  height: 3px;
  position: absolute;
}
.look_right {
  moz-transform: rotate(140deg);
  -ms-transform: rotate(140deg);
  -o-transform: rotate(140deg);
  -webkit-transform: rotate(140deg);
  transform: rotate(140deg);
  margin-left: 37px;
}
.look_left {
  moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}
.mainVsco {
  width: 50%;
  height: 300px;
  background: #393939;
  display: inline-block;
  float: left;
  position: relative;
}
.pics {
  margin: 0 8%;
}
.picAll {
  width: 180px;
  height: 180px;
  background: #ffffff;
  position: absolute;
  float: right;
  display: inline;
  box-shadow: 5px 5px 30px #212121;
  overflow: hidden;
}
.picAll img {
  width: 180px;
  height: 140px;
  margin: 20px 0 0 0;
}
.picOne {
  margin: 75px 0 0 30%;
  z-index: 2;
}
.picTwo {
  margin: 55px 0 0 25%;
  z-index: 3;
}
.picThr {
  margin: 35px 0 0 20%;
  z-index: 4;
}
.picMore {
  margin: 90px 0 0 35%;
  z-index: 1;
  text-align: center;
}
.picMore a {
  font-size: 21px;
  color: #393939;
  text-decoration: none;
  line-height: 8.8;
}
.mainStory {
  width: 50%;
  height: 300px;
  background: #25758A;
  float: left;
  text-align: center;
}

.mainStory .storyTitle {
  font-size: 50px;
  line-height: 2.3;
  color: #ffffff;
  text-decoration: none;
}
.pointers {
  width: 100%;
  height: 5px;
  margin: -40px auto;
}
.pointers a {
  width: 7px;
  height: 7px;
  background: #B7D4F3;
  display: inline-block;
  margin: 0px 10px 0 10px;
  border-radius: 5px;
}
.pointers a:hover {
  background: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}
#selected {
  border: 1px solid #fff;
  background: #b7d4f3;
}
.slideStory {
  height: 300px;
  width: 10%;
  background-color: rgb(166, 166, 166);
  opacity: 0.2;
}
.toLeft {
  float: left;
}
.toRight {
  float: right;
}
.slideArrow {
  background-color: rgb(255, 0, 0);
  opacity: 0.5;
  height: 25px;
  width: 2px;
  top: 45%;
  position: relative;
  display: inline-block;
}
.topLeft {
  moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  margin: 0px -7px 20px 0px;
}
.downLeft {
  moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);

}
.topRight {
  moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
  margin: 0px -7px 20px 0px;
}
.downRight {
  moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

.projects {
  width: 50%;
  height: 300px;
  background: #5BBB5B;
  float: left;
  text-align: center;
}
.projects a {
  color: #FAFFF7;
  font-size: 50 px;
  line-height: 2.3;
  text-decoration: none;
}
.blog {
  width: 50%;
  height: 300px;
  background: #393939;
  float: left;
  text-align: center;
}
.blog a {
  font-size: 50px;
  line-height: 2.3;
  color: #ffffff;
  text-decoration: none;
}
footer {
  height: 200px;
  width: 100%;
  background-color: rgb(247, 91, 91);
  text-align: center;
  float: left;
}
footer a {
  font-size: 2.9em;
  color: #ffffff;
  text-decoration: none;
  display: block;
  line-height: 1.1;
}
.email {
  width: 80px;
  height: 60px;
  background: url('../images/email.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 35px 0px 10px 0px;
}
.const {
  width: 100%;
  height: 50px;
  background: #2c3d3a;
  position: fixed;
  opacity: 0.3;
  top: 200px;
  color: #BDFFA3;
  font-size: 1em;
  text-align: center;
  line-height: 3;
  z-index: 9;
}
/*story*/
.story {
  background: #25758A;
  width: 100%;
  text-align: center;
  position: relative;
  float: left;
  color: #ffffff;
  font-size: 1.2em
}
.year {
  width: 100%;
  display: block;
  float: left;
  text-align: center;
  border-bottom: 0.5px solid #453847;
}
.year a {
    color: #FF6E6E;
    text-decoration: none;
}
.year a:hover {
    text-decoration: underline;
}
.year p {
    padding: 0px 5%;
}
.born {
  margin-top: 50px;
}
.storypic {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
}
.baby {
  width: 170px;
  height: 100px;
  background-image: url('../images/story/baby.png');
}
.pupil {
  width: 170px;
  height: 160px;
  background-image: url('../images/story/school.png');
}


@media only screen and (max-width: 900px) {
  .mainStory {
    width: 100%;
  }
  .mainVsco {
    width: 100%;
  }
  .projects {
    width: 100%;
  }
  .blog {
    width: 100%;
  }
  .pics {
    margin: 0 13%;
  }

}
@media only screen and (max-width: 420px) {
  .nav {
    width: 100%;
  }
  .pics {
    margin: 0 0;
  }
}
@media only screen and (max-width: 375px) {
  footer a {
    font-size: 27px;
    line-height: 1.7;
  }
  footer .email{
    margin:40px 0px 0px 0px;
  }
}
@media only screen and (max-height: 375px) {
  .nav_list {
    margin-top: 25px;
  }
  .nav_list li {
    line-height: 60px;
  }
}
