body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-weight: 100;
    background-color: rgb(33, 33, 33);
    /* prevent text and image selection highlighting */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*-------------- NAVIGATION --------------*/
.nav {
  width: 20%;
  min-width: 270px;
  height: 100%;
  background-color: rgb(33, 33, 33);
  position: fixed;
  left: -420px;
  z-index: 10;
}
.navbar-toggler {
  width: 45px;
  height: 45px;
  position: fixed;
  left: 30px;
  top: 30px;
  cursor: pointer;
  z-index: 100;
  background-color: #fffbf8;
  opacity: 0.2;
  border-radius: 50px;
}
.nav_list {
  list-style: none;
  line-height: 100px;
  font-size: 24px;
  color: #F3F3F3;
  display: block;
  top: 15px;
  margin-top: 25%;
}
.nav_list a {
  display: block;
  color: #F3F3F3;
  text-decoration: none;
}
.nav_list img {
  width: 25px;
  height: 25px;
  margin: 0 15px -3px 5px;
}
/*-------------- MAIN SECTION --------------*/
.main {
  width: 100%;
  height: 100vh;
  background-image: url('../images/bgtest.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
}
.arrowDown {
  height: 70px;
  display: inline-block;
  width: 70px;
  border-radius: 50%;
  top: 85%;
  position: relative;
  opacity: 0.3;
  cursor: pointer;
}
span.arrowDown:hover {
    opacity: 0.6;
}
.look_line {
  background-color: rgb(255, 255, 255);
  height: 45px;
  width: 4px;
  top: 15px;
  display: inline-block;
  position: relative;
  }
.look_right {
  moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  left: 14px;
}
.look_left {
  moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  right: 15px;
}
/*-------------- VSCO SECTION --------------*/
.mainVsco {
  width: 50%;
  height: 300px;
  background: #313131;
  display: inline-block;
  float: left;
  position: relative;
}
.pics {
  margin: 0 8%;
}
.picAll {
  width: 180px;
  height: 180px;
  background: #ffffff;
  position: absolute;
  float: right;
  display: inline;
  box-shadow: 5px 5px 30px #212121;
  overflow: hidden;
}
.picAll img {
  width: 180px;
  height: 140px;
  margin: 20px 0 0 0;
}
.picOne {
  margin: 35px 0 0 20%;
  z-index: 4;
}
.picTwo {
  margin: 55px 0 0 25%;
  z-index: 3;
}
.picThr {
  margin: 75px 0 0 30%;
  z-index: 2;
}
.picMore {
  margin: 90px 0 0 35%;
  z-index: 1;
  text-align: center;
}
.picMore a {
  font-size: 21px;
  color: #393939;
  text-decoration: none;
  line-height: 8.8;
}
/*-------------- STORY AND TERMINAL SECTIONS --------------*/
.storyCard,
.terminalCard {
  width: 50%;
  height: 300px;
  background: #313131;
  float: left;
  text-decoration: none;
}
.storyCard {
  background-image: url('../images/dalia.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.terminal {
  padding-left: 7%;
}
.mainStory h1 {
  color: #9e6280;
  font-size: 60px;
  line-height: 3.3;
  text-decoration: none;
}
.terminal h1 {
  font-size: 80px;
  color: #ffffff;
  line-height: 0;
  font-family: monospace;
  text-decoration: none;
}
/*-------------- PROJECTS SECTION --------------*/
.slider-dots {
  list-style: none;
  display: block;
  padding-left: 0;
  margin-bottom: 0;
}
.slider-dots li {
  color: #9e627f;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}
.slider-dots li.active-dot {
  color: #ffffff;
}
.active-point {
  background: #ffffff !important;
  border: 1px solid #ffffff;
  cursor: pointer;
}
.slideProjects {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #393939;
  top: 116px;
  position: relative;
  opacity: 0.1;
  cursor: pointer;
}
span.slideProjects:hover {
    opacity: 0.6;
}
.toLeft {
  float: left;
  left: 5%;
}
.toRight {
  float: right;
  left: -5%;
}
.slideArrow {
  background-color: rgb(255, 255, 255);
  height: 25px;
  width: 2px;
  top: 28px;
  position: absolute;
  display: inline-block;
}
.topLeft {
  moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  top: 8px;
  left: 27px;
}
.downLeft {
  moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
  left: 25px;

}
.topRight {
  moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
  top: 8px;
  left: 32px;
}
.downRight {
  moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}
.projects {
  width: 50%;
  height: 300px;
  background: #81476c;
  float: left;
  text-align: center;
  position: relative;
  overflow: auto;
}
.projects:hover {
  background: #8e4a75;
}
.projects h1 {
  color: #FAFFF7;
  font-size: 50px;
  margin: 125px 0 30px 0;
  text-decoration: none;
  text-decoration: none;
}
.projects .proOne {
  display: none;
}
.projects .proTwo {
  display: none;
}
.projects .proThr {
  display: none;
}
.active-slide {
  display: inline-block;
}
/*-------------- FOOTER --------------*/
.footer {
  height: 200px;
  width: 100%;
  background-color: rgb(53, 125, 168);
  text-align: center;
  float: left;
  text-decoration: none;
}
.footer:hover {
  background-color: rgb(49, 135, 187);
}
.footer h1 {
  font-size: 30pt;
  color: #ffffff;
  display: block;
  line-height: 0.1;
}
.email {
  width: 80px;
  height: 60px;
  background: url('../images/email.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 35px 0px 10px 0px;
}
/*-------------- UNDER CONSTRUCTION WARNING --------------*/
.const {
  width: 100%;
  height: 50px;
  background: #2c3d3a;
  position: fixed;
  opacity: 0.3;
  top: 200px;
  color: #BDFFA3;
  font-size: 1em;
  text-align: center;
  line-height: 3;
  z-index: 9;
}
/*-------------- RESPONSIVE --------------*/
@media only screen and (max-width: 800px) {
  .storyCard {
    width: 100%;
  }
  .footer h1 {
    font-size: 20pt;
  }
  .mainVsco {
    width: 100%;
  }
  .projects {
    width: 100%;
  }
  .terminalCard {
    width: 100%;
  }
  .pics {
    margin: 0 13%;
  }
}
@media only screen and (max-width: 420px) {
  .nav {
    width: 100%;
  }
  .pics {
    margin: 0 0;
  }
}
@media only screen and (max-width: 375px) {
  .footer h1 {
    font-size: 20pt;
}
@media only screen and (max-height: 375px) {
  .nav_list {
    margin-top: 30px;
  }
  .nav_list li {
    line-height: 60px;
  }
}
