body {
  padding: 0;
  margin: 0;
  background-color: #0c3e7a;
}
.file {
  height: 105px;
  width: 65px;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 80px;
  bottom: 0;
  margin: auto;
  text-align: center;
}
.icon {
  height: 50%;
  width: 100%;
  background-image: url('../images/terminal.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px

}

.file p {
  margin-top: 5px;
  color: white;
  font-size: 13px;
  font-family: helvetica;
}

.box {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 90%;
  height: 85%;
  padding: 0px;
  display: block;
  position: fixed;
  background-color: #252121;
  border-radius: 7px;
  z-index: 2;
}

.terminal {
  width: 100%;
  height: 100%;
  padding: 1% 0 0 1%;
  background-color: #252121;
  border-radius: 7px;
  color: white;
  border: none;
  resize: none;
  font-size: 14px;
  font-family: monospace;
  box-sizing: border-box;
}

textarea:focus, input:focus{
  outline: none;
}

.head {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  height: 40px;
  width: 100%;
  background-color: #eaeaea;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.btns {
  padding: 13px 0 0 18px;
}
.sign {
  border-radius: 100%;
  height: 15px;
  width: 15px;
  margin-right: 7px;
  display: inline-block;
}
#close {
  background-color: #ff3d00db;
}
#close:hover {
  background-color: #d23503db;
}
#min {
  background-color: #ffca00ed;
}
#min:hover {
  background-color: #e0b304ed;
}

#max {
  background-color: #00e000c7;
}
#max:hover {
  background-color: #02c402c7;
}
.text {
  padding: 0px 0px 0 2%;
  font-family: monospace;
  color: #fff;
  font-size: 1.1em;
}


/*-------- AD --------*/
.ad {
  height: 100%;
  width: 100%;
  background-color: blue;
  opacity: 0.95;
  position: fixed;
  z-index: 10;
  color: #b10000;
  display: none;
}
.adMsg {
  height: 30%;
  width: 50%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  text-align: center;
  border: 2px solid #b10000;
  min-width: 300px;
  min-height: 270px;
}
.closeMsg {
  font-size: 30px;
  font-family: sans-serif;
  float: right;
  margin: 5%;
  cursor: pointer;
}
