.navigation {
    width: 50%;
    max-width: 500px;
    position: relative;
    height: 5vh;
    background-color: rgba(34, 150, 243, 0.75);
    position: fixed;
    left: 50%;
    z-index: 100;
    transform: translateX(-50%);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    text-align: center;
    transition: all .5s;
    overflow: hidden;

    &:hover,
    &:focus {
        height: 30vh;
        background-color: $color-blue;
    }
    &:hover > &__list,
    &:focus > &__list {
        opacity: 1;
    }
    &__list {
        @include absCenter;
        width: 100%;
        list-style: none;
        font-size: calc(112.5% + 1vw);
        line-height: calc(112.5% + 2.5vw);
        opacity: 0;
        transition: all .3s;
        text-transform: uppercase;

        & li a {
            text-decoration: none;
            color: inherit;
            display: block;
            transition: all .3s;

            &:hover {
                font-size: calc(112.5% + 1.1vw);
            }
        }
    }
}