@keyframes launch {
    30% {
        transform: rotate(-45deg);
    }
    40% {
        transform: translate(0vw, -50vh) rotate(-45deg);
        text-shadow: -75px 75px 70px #ffffff, 0px 0px #FFFFFF;
    }
    100% {
        transform: translate(0vw, -300vh) rotate(-45deg);
        text-shadow: -75px 75px 70px #ffffff, 0px 0px #FFFFFF;
    }
}
@keyframes land {
    0% {
        transform: translate(0, -300vh) rotate(-45deg);
        text-shadow: -75px 75px 70px #ffffff, 0px 0px #FFFFFF;
    }
    50% {
        text-shadow: -75px 75px 70px #ffffff, 0px 0px #FFFFFF;
    }
    95% {
        text-shadow: -75px 75px 70px #ffffff, 0px 0px #FFFFFF;
        transform: translate(0, 0vh) rotate(-45deg);
    }
    100% {
        transform: translate(0, 0vh) rotate(0deg);
        text-shadow: 0 0 0 transparent, 0px 0px #ffffff;
    }
}

  
  
  
@keyframes swoosh {
    0% {
        opacity: 0;
        transform: translate(-200px);
    }

    80% {
        opacity: 0.8;
        transform: translate(5px);
    }

    100% {
        opacity: 1;
        transform: translate(0px);
    }
}
  