.section-falcon {
    width: 100%;
    padding: 100px 20px;
}

.section-skills {
    width: 100%;
    background-color: rgb(240, 240, 240);
    padding: 100px 20px;
    position: relative;
}

.section-books {
    width: 100%;
    background-color: rgb(240, 240, 240);
    padding: 100px 20px;
    position: relative;
    text-align: center;
}