@keyframes launch {
  30% {
    transform: rotate(-45deg); }
  40% {
    transform: translate(0vw, -50vh) rotate(-45deg);
    text-shadow: -75px 75px 70px #ffffff, 0px 0px #FFFFFF; }
  100% {
    transform: translate(0vw, -300vh) rotate(-45deg);
    text-shadow: -75px 75px 70px #ffffff, 0px 0px #FFFFFF; } }

@keyframes land {
  0% {
    transform: translate(0, -300vh) rotate(-45deg);
    text-shadow: -75px 75px 70px #ffffff, 0px 0px #FFFFFF; }
  50% {
    text-shadow: -75px 75px 70px #ffffff, 0px 0px #FFFFFF; }
  95% {
    text-shadow: -75px 75px 70px #ffffff, 0px 0px #FFFFFF;
    transform: translate(0, 0vh) rotate(-45deg); }
  100% {
    transform: translate(0, 0vh) rotate(0deg);
    text-shadow: 0 0 0 transparent, 0px 0px #ffffff; } }

@keyframes swoosh {
  0% {
    opacity: 0;
    transform: translate(-200px); }
  80% {
    opacity: 0.8;
    transform: translate(5px); }
  100% {
    opacity: 1;
    transform: translate(0px); } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff; }

.section__heading {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 50px;
  color: #333333;
  text-align: center;
  margin-bottom: 100px; }

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #2196F3;
  padding: 10px 0;
  width: 150px;
  border-radius: 100px;
  box-shadow: 0px 5px 40px -10px #868585;
  transition: .3s;
  margin-bottom: 70px;
  border: none; }

.btn:hover {
  box-shadow: 0px 8px 40px -1px #868585;
  transform: translateY(-3px); }

.btn:focus {
  box-shadow: 0px 10px 40px -5px #868585;
  transform: translateY(-1px);
  outline: none; }

.falcon--control-panel {
  position: relative;
  height: 50vh; }

.falcon--btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 280px;
  max-height: 280px;
  width: 35vw;
  height: 35vw;
  border-radius: 50%;
  border: none;
  font-size: calc(112.5% + 10vw);
  background-color: #fb3838;
  color: #333333;
  box-shadow: 0 10px 80px 0px #6f6f6f;
  transition: all .3s; }
  .falcon--btn:active {
    box-shadow: 0 10px 80px -5px #6f6f6f; }
  .falcon--btn:focus {
    outline: none; }
  .falcon--btn:hover > i {
    transform: rotate(-45deg);
    text-shadow: -75px 75px 70px #ffdcdcb5, 0px 0px #ffffff; }
  .falcon--btn i {
    transition: transform .5s, text-shadow 2s; }

.falcon--description {
  position: relative;
  height: 50vh; }
  .falcon--description__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333333;
    font-size: 3vw; }

.launch {
  animation: launch 2s ease-out forwards; }

.land {
  animation: land 2s ease-out forwards; }

.deck {
  padding: 50px 50px; }
  .deck:hover > .deck__card-3::after {
    opacity: 0; }
  .deck__card {
    width: 300px;
    height: 500px;
    background-color: #fff;
    display: inline-block;
    border-radius: 3px;
    backface-visibility: hidden;
    transform: skew(0deg, -18deg);
    margin-right: -220px;
    box-shadow: 5px 15px 50px -5px #4b4b4b;
    transition: all .5s;
    cursor: pointer; }
    .deck__card__text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 70px; }
    .deck__card--animated {
      transform: skew(0, 0) translate(45vw, -10px) scale(1.1);
      box-shadow: 0 30px 100px 0px #4b4b4b; }
    .deck__card-1 {
      background-image: url(./../../images/cards/card-11.jpg);
      background-size: cover;
      background-position: center; }
    .deck__card-2 {
      background-image: url(./../../images/cards/card-22.jpg);
      background-size: cover; }
    .deck__card-3 {
      background-image: url(./../../images/cards/card-33.jpg);
      background-size: cover; }
      .deck__card-3::after {
        content: "";
        width: 300px;
        height: 500px;
        display: inline-block;
        border: 2px dashed #333333;
        border-radius: 3px;
        backface-visibility: hidden;
        transform: skew(0deg, 18deg) translate(45vw, -10px) scale(1.1);
        margin-right: -220px;
        transition: all .5s;
        pointer-events: none; }

.book {
  height: 400px;
  width: 250px;
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  display: inline-block;
  margin: 0 50px; }
  .book__side {
    height: 400px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 15px 40px rgba(51, 51, 51, 0.15);
    transition: all .8s ease; }
    .book__side--front {
      background-size: cover;
      background-position: center; }
      .book__side--front-1 {
        background-image: url(../../images/books/book-1.png); }
      .book__side--front-2 {
        background-image: url(../../images/books/book-2.jpg); }
      .book__side--front-3 {
        background-image: url(../../images/books/book-3.jpg); }
    .book__side--back {
      padding: 20px;
      text-align: center;
      transform: rotateY(180deg); }
      .book__side--back h3 {
        margin: 30px 0; }
      .book__side--back-1 {
        background-image: url(../../images/books/book-1.png);
        background: #ffdf8f; }
      .book__side--back-2 {
        background-image: url(../../images/books/book-2.jpg);
        background: #8cbae0; }
      .book__side--back-3 {
        background-image: url(../../images/books/book-3.jpg);
        background: #dc4954; }
  .book:hover .book__side--front {
    transform: rotateY(-180deg); }
  .book:hover .book__side--back {
    transform: rotateY(0); }

.header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba(15, 15, 15, 0.8), rgba(0, 41, 71, 0.66)), url(../../images/header2-min.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    text-align: center; }
  .header__content h1 {
    margin-bottom: 50px; }

.swoosh {
  color: #fff;
  animation: swoosh 1s ease-in 1s;
  animation-fill-mode: backwards; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 0rem; }
  .row .col-1-of-2 {
    width: calc((100% - 0rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 0rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 0rem) / 3) + 0rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 0rem) / 4); }
  .row .col-2-of-4 {
    width: calc((2 * (100% - 3 * 0rem) / 4) + 0rem); }
  .row .col-3-of-4 {
    width: calc((3 * (100% - 3 * 0rem) / 4) + 2 * 0rem); }

.navigation {
  width: 50%;
  max-width: 500px;
  height: 5vh;
  background-color: rgba(34, 150, 243, 0.75);
  position: fixed;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  text-align: center;
  transition: all .5s;
  overflow: hidden; }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    list-style: none;
    font-size: calc(112.5% + 1vw);
    line-height: calc(112.5% + 2.5vw);
    display: none;
    transition: all .3s;
    text-transform: uppercase; }
    .navigation__list li a {
      text-decoration: none;
      color: inherit;
      transition: all .3s; }
      .navigation__list li a:hover {
        font-size: calc(112.5% + 1.1vw); }

.navigation--checkbox {
  opacity: 0;
  position: fixed; }
  .navigation--checkbox:focus + .navigation,
  .navigation--checkbox:hover + .navigation {
    height: 30vh;
    background-color: #2196F3;
    outline: none; }
  .navigation--checkbox:focus + .navigation > .navigation__list,
  .navigation--checkbox:hover + .navigation > .navigation__list {
    display: block; }

.footer {
  width: 100%;
  background: #2196F3;
  text-align: center;
  padding: 20px 0;
  font-size: calc(112.5% + 5vw);
  transition: all .3s;
  position: relative;
  height: 25vh; }
  .footer__links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; }
    .footer__links a {
      text-decoration: none;
      color: #fff; }
      .footer__links a i {
        transition: all .5s;
        margin: 0 20px; }
      .footer__links a i:hover,
      .footer__links a i:focus {
        transform: rotate(360deg) scale(1.5); }

.section-falcon {
  width: 100%;
  padding: 100px 20px; }

.section-skills {
  width: 100%;
  background-color: #f0f0f0;
  padding: 100px 20px;
  position: relative; }

.section-books {
  width: 100%;
  background-color: #f0f0f0;
  padding: 100px 20px;
  position: relative;
  text-align: center; }
